.header {
  height: 8rem;
  width: 66rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-weight: 1000;
  font-size: 3rem;
  letter-spacing: -0.2rem;
}

.logo-link {
  text-decoration: none;
  color: #0e0e2c;
}
